* text=input

# Source files
# ============

# Binary files
# ============
*.db    binary
*.p     binary
*.pkl   binary
*.pyc   binary
*.pyd   binary
*.pyo   binary
*.png   binary
*.jpeg  binary
*.jpg   binary
*.pdf   binary
*.ai    binary
*.gif   binary
